# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Scikit-learn

|Data Science Tools|
|------------------|
|Apache Spark|
|Hadoop|
|MongoDB|

### Below are a few examples of evaluating arithmetic expressions in Python. ###

In [2]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [5]:
200/60
#This will convert 200 minutes to hours by diving by 60

3.3333333333333335

**Objectives:**

List popular languages for Data Science.
- Python
- R
- SQL

## Author

Nathan Jose Velez Ordo√±ez